.container {
    width: 600px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-transform: uppercase;
    align-content: center;
}

.header {
    background-color: red;
    flex-basis: 100%;
    text-align: center;
    color: white;
    font-size: medium;
}

.aside-left {
    background-color: green;
    flex-basis: 25%;
    text-align: center;
    color: white;


}

.section {
    background-color: rgb(22, 197, 232);
    flex-basis: 50%;
    text-align: center;
    color: white;
}

.aside-right {
    background-color: pink;
    flex-basis: 25%;
    text-align: center;

    color: white;
}

.footer {
    background-color: violet;
    flex-basis: 100%;
    text-align: center;
    color: white;
    padding: 5px 0;

}

@media (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
}



@media (max-width: 992px) {

}

@media (max-width: 576px) {
  
}


